<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.min.css">
    <link rel="stylesheet" href="assets/css/home.min.css">
    <script src="https://kit.fontawesome.com/19ce154370.js" crossorigin="anonymous"></script>
    <title>Home</title>
</head>
<body>

<aside class="contacts">

    <button class="contacts__toggle">
        <i class="fas fa-caret-left"></i>
    </button>

    <form action="#" method="POST" class="contacts__form">
        <img src="assets/media/images/avatar.webp" alt="User avatar" class="contacts__avatar">
        <div class="contacts__search-wrap">
            <i class="fas fa-hashtag hashtag"></i>
            <i class="fas fa-search search"></i>
            <input type="text" placeholder="Search users" class="contacts__search">
        </div>
    </form>

    <div class="contacts__separator"></div>

    <ul class="contacts__list">
        <li class="contacts__item contact contact_active">

            <img src="assets/media/images/avatar.webp" alt="Contact avatar" class="contact__avatar">

            <div class="contact__info">
                <p class="contact__last-message">Yeah</p>
                <time class="contact__date" datetime="2021-12-31">31.12.2021</time>
            </div>

            <button class="contact__delete">
                <i class="fas fa-times"></i>
            </button>

        </li>
        <li class="contacts__item contact">

            <img src="assets/media/images/avatar.webp" alt="Contact avatar" class="contact__avatar">

            <div class="contact__info">
                <p class="contact__last-message">Yeah</p>
                <time class="contact__date" datetime="2021-12-31">31.12.2021</time>
            </div>

            <button class="contact__delete">
                <i class="fas fa-times"></i>
            </button>

        </li>
    </ul>

</aside>

<main class="messenger">

    <a href="sign_in.html" class="messenger__lock">
        <i class="fas fa-lock"></i>
    </a>

    <section class="messenger__body messages">

        <div class="messages__group messages-group">
            <img src="assets/media/images/avatar.webp" alt="Contact avatar" class="messages-group__avatar">
            <ul class="messages-group__list">
                <li class="messages-group__item">whats up!</li>
                <li class="messages-group__item">how are you?</li>
            </ul>
        </div>

        <div class="messages__group messages-group messages-group__myself">
            <ul class="messages-group__list">
                <li class="messages-group__item">I'am fine</li>
            </ul>
            <img src="assets/media/images/avatar.webp" alt="Contact avatar" class="messages-group__avatar">
        </div>

        <div class="messages__group messages-group">
            <img src="assets/media/images/avatar.webp" alt="Contact avatar" class="messages-group__avatar">
            <ul class="messages-group__list">
                <li class="messages-group__item">...</li>
            </ul>
        </div>

    </section>

    <form action="#" method="POST" class="messenger__form type-form">
        <input type="text" placeholder="Type message" class="type-form__input">
        <button class="type-form__additionals">
            <i class="fab fa-artstation"></i>
        </button>
        <button type="submit" class="type-form__submit">
            <i class="fab fa-telegram-plane"></i>
        </button>
    </form>

</main>

</body>
</html>