<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.min.css">
    <link rel="stylesheet" href="assets/css/auth.min.css">
    <link rel="stylesheet" href="assets/css/sign_in.min.css">
    <title>Sign in</title>
</head>
<body>

    <h1 class="title"> SIGN IN </h1>

    <form action="home.html" class="form">
        <input type="email" class="form__input" placeholder="e-mail">
        <input type="password" class="form__input" placeholder="password">
        <input type="submit" class="form__input form__submit" value="auth">
    </form>

    <a href="sign_up.html" class="sign-link">sign up</a>

</body>
</html>