<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.min.css">
    <link rel="stylesheet" href="assets/css/auth.min.css">
    <link rel="stylesheet" href="assets/css/sign_up.min.css">
    <title>Sign up</title>
</head>
<body>

    <h1 class="title"> SIGN UP </h1>

    <form action="#" class="form">
        <input type="email" class="form__input" placeholder="e-mail">
        <input type="text" class="form__input" placeholder="username">
        <input type="password" class="form__input" placeholder="password">
        <input type="password" class="form__input" placeholder="verify password">
        <input type="submit" class="form__input form__submit" value="auth">
    </form>

    <a href="sign_in.html" class="sign-link">sign in</a>

</body>
</html>