$grey-mid     = #5B5B73
$grey-light   = #545564
$grey-dark    = #474857
$bg-color     = #303138
$bg-figure    = #37383E
$light-grey   = #AAAAAA
$message-text = #FFFFFF
$accent-color = #6bb2e9
$accent-color-2 = #E9986B

