@import './fonts.styl';
@import './colors.styl';

:root
  font-size 1px

*
  padding: 0
  margin: 0
  box-sizing border-box

body
  font-size 18rem
  font-family Roboto
  background-color $bg-color

h1
  font-weight normal

a
  text-decoration none
  color inherit

input
  border none
  outline none
  padding 5px
  text-align center

button
input[type='submit']
    cursor pointer
