@import './fonts.styl';
@import './colors.styl';

:root
  font-size 1px

body
  font-size 18rem
  font-family Roboto
  background-color $bg-color

h1
  color $orange
  font-size 128rem

a
  text-decoration none
  color inherit

input
  border none
  outline none
  padding 5px
  text-align center

button
input[type='submit']
    cursor pointer
